<table id="tab-vehicles"></table>
<div id="vehicle-leads"></div>

<div id="lead-container" class="container" style="width: 50%; display: none">
  <div style="width: 50%">
    <form id="flead">
      <div class="input-validation">
        <input id="fvehicleid" name="leadVehicleId" type="hidden" value="" />
        <label for="fname">Nome <span class="required">(*)</span></label>
        <input
          type="text"
          id="fname"
          name="name"
          required
          placeholder="Digite o nome.."
          oninput="validateFormLead();"
          onfocus="validateFormLead();"
          onblur="validateFormLead();"
        />
        <div class="error"></div>
      </div>

      <div class="input-validation">
        <label for="femail">E-mail <span class="required">(*)</span></label>
        <input
          type="text"
          id="femail"
          name="email"
          required
          placeholder="Digite o e-mail.."
          oninput="validateFormLead();"
          onfocus="validateFormLead();"
          onblur="validateFormLead();"
        />
        <div class="error"></div>
      </div>

      <div class="input-validation">
        <label for="fphone">Telefone <span class="required">(*)</span></label>
        <input
          type="text"
          id="fphone"
          required
          name="phone"
          placeholder="Digite o telefone.."
          oninput="validateFormLead();"
          onfocus="validateFormLead();"
          onblur="validateFormLead();"
        />
        <div class="error"></div>
      </div>

      <center>
        <input id="fsubmit" disabled="true" type="submit" value="Salvar" />
      </center>
    </form>
  </div>
</div>

<table id="tab-leads"></table>
